
{% extends 'app_common/common_files/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}

{% block content %}
{% include 'app_common/common_files/navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
           
        </div>
    </div>
</div>
<!-- Begin: Content -->
<form method="post">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12">
                <div class="container-fluid-width">
                    <div class="row">
                        <div class="col col-md-8">
                            <h2>View 
                               My Role(s) :: {{user.username}}</h2>
                        </div>
                        <div class="col col-md-4 text-end">
                            {% if user.is_authenticated %}
                                {% if admin_orgs_unique %}
                                    {% with admin_orgs_unique|first as org %}
                                        <a href="{% url 'org_admin_dashboard' org.org_id %}" class="btn btn-primary mb-1">
                                            <i class="bi bi-speedometer2"></i> Org Admin Dashboard
                                        </a>
                                    {% endwith %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- <ul>
                    {% for user in user_roles_data %}
                        <li>
                            <strong>{{ user.username }} (Member ID: {{ user.member_id }})</strong>
                            <ul>
                                {% for role in user.roles %}
                                    <li>
                                        Organization ID: {{ role.org_id }}, OrgName: {{role.org_name}}, Role ID: {{ role.role_id }} (Role Name: {{ role.role_name }})
                                    </li>
                                {% empty %}
                                    <li>No Roles Assigned</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% empty %}
                        <li>No Role/Membership Found</li>
                    {% endfor %}
                </ul> -->

                <ul>
                    {% for member_info in user_roles_data %}
                    <li>
                        <strong>{{ member_info.username }} (Member ID: {{ member_info.member_id }})</strong>
                        <ul>
                            {% for role in member_info.roles %}
                            <li>
                                Organization ID: {{ role.org_id }}, OrgName:
                                {% if role.org_id %}
                                    <a href="{% url 'org_homepage' role.org_id %}">{{ role.org_name }}</a>
                                {% else %}
                                    {{ role.org_name }}
                                {% endif %},
                                Role ID: {{ role.role_id }} (Role Name:
                                {% if role.role_id and role.org_id %}
                                    <a href="{% url 'role_homepage' role.lc_role_name %}?org_id={{role.org_id}}&role_id={{role.role_id}}">{{ role.role_name }}</a>
                                {% else %}
                                    {{ role.role_name }}
                                {% endif %}
                                )
                            </li>
                            {% empty %}
                            <li>No Roles Assigned</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% empty %}
                    <li>No Role/Membership Found</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</form>
<!-- End: Content -->
{% endblock content %}
