{% extends 'app_usermgmt/base.html' %}

{% block title %}Bulk Delete Users{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Bulk UnDelete Users</h1>
<div class="container mt-4">
       <!-- Bulk Delete Form -->
    <div class="card">
        <div class="card-header bg-danger text-white d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Bulk UnDelete Users</h2>
            <div>
                <!-- Delete Selected Users and Cancel Buttons -->
                <button type="submit" form="bulkDeleteForm" class="btn btn-light me-2">
                    <i class="fas fa-trash-alt"></i> UnDelete Selected Users
                </button>
                <a href="{% url 'user_management' %}" class="btn btn-secondary">
                    <i class="fas fa-times"></i> Cancel
                </a>
            </div>
        </div>
        <div class="card-body">
            <form method="post" id="bulkDeleteForm">
                {% csrf_token %}
                <!-- User Table -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAll">
                            </th>
                            <th>Username</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>
                                <input class="form-check-input user-checkbox" type="checkbox" id="user_{{ user.id }}" name="user_ids" value="{{ user.id }}">
                            </td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination -->
                {% include 'app_usermgmt/paginator.html' %}
            </form>
        </div>
    </div>
</div>

<!-- JavaScript for Select All -->
<script>
    // Select All Checkbox
    document.getElementById('selectAll').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('.user-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });
</script>
{% endblock %}