<!-- Admin Tab Navigation -->
<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'dashboard' %}active{% endif %}" href="{% url 'admin_dashboard' %}">
            <i class="fas fa-tachometer-alt"></i> Dashboard Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'users' %}active{% endif %}" href="{% url 'user_list' %}">
            <i class="fas fa-users"></i> User Management
        </a>
    </li>
   
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            <i class="fas fa-user-friends"></i> Team Management
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            <i class="fas fa-project-diagram"></i> Project Management
        </a>
    </li>
</ul>